* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Helvetica Neue", sans-serif;
}

body {
    --foreground-color: #e1f0f5;
    --background-color: #ff00ff;
    --key-color: #aa00cc;
    --timeline-color: #eee;
    --hue-rotate: 270deg;

    -webkit-text-size-adjust: 100%;

    /* Sizing */
    --small-text-size: 18px;
    --big-text-size: calc(var(--small-text-size) * 1.8);
    --medium-text-size: calc(var(--small-text-size) * 1.4);
    --element-padding: calc(min(max(10vmin, 10px), 60px));
    --element-padding-half: calc(min(max(10vmin, 10px), 60px) / 2);

    background-repeat: no-repeat;
    background-size: 100vw 110vmax;
    background-attachment: fixed;
    background-color: #e1f0f5;
    background-color: var(--foreground-color);
    background-image: linear-gradient(
        var(--foreground-color),
        var(--background-color)
    );

    font-size: var(--small-text-size);
}

a {
    color: var(--key-color);
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0px var(--foreground-color);
}

nav {
    padding: 5vmin;
    margin: auto;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-auto-rows: 43.5vmin;
    grid-template-columns: 43.5vmin 43.5vmin;
    grid-gap: 2.5vmin;
    grid-auto-flow: row;
}

@media (min-width: 720px) {
    nav {
        padding: var(--element-padding);
        max-width: 720px;
    }

    nav ul {
        grid-auto-rows: minmax(300px, 22.5vmin);
        grid-template-columns: repeat(2, minmax(300px, 22.5vmin));
    }
}

@media (min-width: 1080px) {
    nav {
        max-width: 1080px;
    }

    nav ul {
        grid-template-columns: repeat(3, minmax(300px, 22.5vmin));
    }
}

@media (min-width: 1400px) {
    nav {
        max-width: 1400px;
    }

    nav ul {
        grid-template-columns: repeat(4, minmax(300px, 22.5vmin));
    }
}

nav ul li {
    border: solid 6px;
    border-image: url("/images/menu/border.png");
    border-image-slice: 28 36 43 32;
    border-image-repeat: stretch;
    border-radius: 4px;
    box-shadow: inset rgba(255, 255, 255, 0.7) 0 0 5px 3px;

    transition: transform ease-in-out 150ms;

    background-image: radial-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0)
    );
}

nav ul li:hover {
    z-index: 10;
    transform: scale(1.1);

    background-image: none;
    background-color: white;

    box-shadow: inset rgba(255, 255, 255, 0.7) 0 0 5px 3px,
        var(--foreground-color) 0 0 150px 50px;
}

nav .name {
    grid-column: span 2;
}

nav .illustration {
    grid-column: span 2;
}

@media (min-width: 1080px) {
    nav .articles {
        grid-row: span 2;
    }
}

@media (min-width: 1400px) {
    nav .zines {
        grid-column: span 2;
    }
}

nav ul li a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-indent: -10000%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

nav .animation a {
    background-image: url("./images/menu/animation.png");
}
nav .articles a {
    background-image: url("./images/menu/articles.png");
}
nav .border a {
    background-image: url("./images/menu/border.png");
}
nav .comics a {
    background-image: url("./images/menu/comics.png");
}
nav .exhibitions a {
    background-image: url("./images/menu/exhibitions.png");
}
nav .gifs a {
    background-image: url("./images/menu/gifs.png");
}
nav .goods a {
    background-image: url("./images/menu/goods.png");
}
nav .illustration a {
    background-image: url("./images/menu/illustration.png");
}
nav .linestamps a {
    background-image: url("./images/menu/linestamps.png");
}
nav .media a {
    background-image: url("./images/menu/media.png");
}
nav .name a {
    background-image: url("./images/menu/name.png");
}
nav .stuffforsale a {
    background-image: url("./images/menu/stuff-for-sale.png");
}
nav .zines a {
    background-image: url("./images/menu/zines.png");
}

main {
    background-color: rgba(0, 0, 0, 0.1);
    padding: calc(var(--element-padding) / 2);

    font-size: var(--small-text-size);
    line-height: 1.7;
}

@media (min-width: 720px) {
    main {
        padding: var(--element-padding);

        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        grid-gap: var(--element-padding);
        grid-auto-flow: row;

        grid-template-areas: "gutter content gutter";
        grid-template-columns:
            1fr
            [content-start]
            calc(720px - (var(--element-padding) * 2))
            [content-end]
            1fr;
    }
}

@media (min-width: 1280px) {
    main {
        grid-template-areas: "gutter content gutter";
        grid-template-columns:
            1fr
            [content-start]
            calc(540px - var(--element-padding))
            calc(540px - var(--element-padding))
            [content-end]
            1fr;
    }
}

@media (min-width: 1580px) {
    main {
        grid-template-areas: "gutter content gutter";
        grid-template-columns:
            1fr
            [content-start]
            calc(700px - var(--element-padding))
            calc(700px - var(--element-padding))
            [content-end]
            1fr;
    }
}

main p,
main ul,
main ol,
main dl {
    margin-bottom: calc(var(--small-text-size) * 2);
}

section h1,
section h2,
section h3 {
    color: #666;
    margin-bottom: var(--small-text-size);
}

section h1 {
    font-size: var(--big-text-size);
    border-bottom: solid 1px #eee;
    margin-bottom: calc(var(--small-text-size) * 1.5);
}

section h2 {
    font-size: var(--medium-text-size);
}

section h3,
section h4,
section h5 {
    font-size: var(--small-text-size);
    color: #ccc;
    text-transform: uppercase;
}

main img {
    width: 100%;
    height: auto;
}

main ul {
    padding-left: calc(var(--small-text-size) * 2);
}

main section {
    border: solid 6px;
    border-radius: 4px;
    border-image: url("/images/menu/border.png");
    border-image-slice: 28 36 43 32;
    border-image-repeat: stretch;
    background-color: white;

    grid-column-start: content;

    padding: calc(var(--element-padding) / 2);
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 0px;

    margin-bottom: calc(var(--element-padding) / 2);
}

@media (min-width: 720px) {
    main section {
        padding: var(--element-padding);
        margin-bottom: 0;
    }
}

@media (min-width: 1280px) {
    main section {
        grid-column-start: auto;
    }

    main section:first-child {
        grid-column-start: content;
    }

    main section.fullwidth {
        grid-column: 2 / span 2;
    }

    main section.fullwidth + section:not(.fullwidth) {
        grid-column-start: content;
    }

    main
        section:not(.fullwidth)
        + section:not(.fullwidth)
        + section:not(.fullwidth) {
        grid-column-start: content;
    }
}

img {
    border: solid 6px;
    border-radius: 4px;
    border-image: url("/images/menu/border.png");
    border-image-slice: 28 36 43 32;
    border-image-repeat: stretch;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 0px;
}

img.inset {
    margin-right: 1em;
    margin-bottom: 1em;
    transform: rotate(-3deg);
}

@media (min-width: 720px) {
    img.inset {
        margin-left: calc(var(--element-padding) * -1.5);
    }
}

@media (min-width: 1080px) {
    img.inset {
        float: left;
        width: 60%;
        margin-right: 2em;
        margin-bottom: 2em;
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 1em;
    font-size: calc(var(--small-text-size) * 0.75);
    color: var(--foreground-color);
}
