* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  --foreground-color: #E1F0F5;
  --background-color: #FF00FF;
  --key-color: #FF00FF;
  --timeline-color: #EEE;
  --hue-rotate: 270deg;
 
  /* Sprite images */
  --image-profile:      url("images/sprites/e.gif");
  --image-work:         url("images/sprites/f.gif");
  --image-illustration: url("images/sprites/a.gif");
  --image-line:         url("images/sprites/b.gif");
  --image-goods:        url("images/sprites/g.gif");
  --image-blog:         url("images/sprites/c.gif");
  --image-contact:      url("images/sprites/d.gif");
  
  /* Design constants */
  --border-width: 10px;
  --container-padding: 5vmax;
  
  -webkit-text-size-adjust: 100%;
  
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-size: 100vw 110vmax;
  background-attachment: fixed;
  background-color: #E1F0F5;
  background-color: var(--foreground-color);
  background-image: linear-gradient(var(--foreground-color), var(--background-color));
}

body > header {
  text-align: center;
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

body > header h1 {
  flex: 1;
  
  margin: 0px;
  padding: 0px;
  width: 100%;
  z-index: 10;
  
  font-weight: lighter;
  text-transform: lowercase;
  letter-spacing: 0.4em;
  font-size: 7vw;
  /* Making the gap between anaismi and yasoko sit in the middle */
  text-indent: 0.5em;
  
  color: white;
  text-shadow: black 0px 0px 100px;
}

body > header h1 .lighter {
  text-shadow: white 0px 0px 1px,
               white 0px 0px 2px,
               white 0px 0px 3px,
               white 0px 0px 10px,
               white 0px 0px 10px;
}

.loaded.textures-loaded h1.texttop {
  /* Modesty? Who knows. */
  animation-duration: 7s;
  animation-name: fadeOutTitle;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOutTitle {
  from {
    opacity: 1;
  }
  
  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInCanvas {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media(max-width: 699px) {
  body > header h1 {
    font-size: 12vw;
  }
  
  body > header h1 .lighter {
    display: inline-block;
    width: 100vw;
  }
}

canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}

.textures-loaded canvas {
  animation-duration: 5s;
  animation-name: fadeInCanvas;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

main {
  position: relative;
  margin: 0px auto;
  max-width: 60em;
  z-index: 5;
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}

main nav {
  font-size: 4vmin;
  line-height: 1.5;
  font-weight: bold;
  color: #999;
  padding: var(--container-padding);
  
  transform: skewY(-3deg);
  border-top: dashed var(--key-color) 10px;
  
  background-color: white;
}

main nav dl,
main nav dt,
main nav dd {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

main nav ruby {
  display: inline-block;
  margin-bottom: 1em;
  background-color: white;
}

main nav dd {
  color: #DDD;
  text-align: left;
  font-weight: lighter;
}

main nav a {
  border-bottom-width: 0.1em;
}

main section header {
  position: relative;
  transform: skewY(-3deg);
  border-bottom: solid 10px var(--key-color);
  margin-bottom: 2vmin;
  margin-top: -3vmax;
  width: 100%;
  z-index: 20;
}

main h1 {
  text-transform: lowercase;
  font-weight: lighter;
  font-size: 8vmax;
  
  width: 100%;
  margin: 0;
  line-height: 10vmax;
  
  background-color: var(--key-color);
  color: white;
  font-style: oblique;
  
  text-indent: var(--container-padding);
  
  position: relative;
  z-index: 10;
  
  border-bottom: solid white 10px;
  overflow: hidden;
}

main h1 + .comic-panel {
  position: relative;
  object-fit: cover;
  display: block;
  margin-top: -8vmax;
  height: 20vmax;
  width: 100%;
  
  filter: sepia(100%) hue-rotate(var(--hue-rotate)) saturate(70%);
}

main section:nth-child(2n + 1) header {
  transform: skewY(3deg);
}

main section article {
  padding: var(--container-padding);
  padding-top: 7vmax;
  margin-top: -5vmax;
  margin-bottom: -5vmax;
  padding-bottom: 7vmax;
  
  border-left: 10px solid var(--key-color);
  border-right: 10px solid var(--key-color);
  background-color: white;
  min-height: 33em;
  
  /* Default flex */
  display: flex;
  flex-wrap: wrap;
}

/* By default, everything takes up the whole container, and there's no visible
   flex */
main section article > * {
  width: 100%;
  flex: 0 0 100%;
}

main h2 {
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

main h3 {
  color: var(--key-color);
  font-size: 1em;
}

main p,
main li,
main dd,
main dt {
  line-height: 1.7;
}

main p + ul,
main p + ol,
main p + dl,
main ul + p,
main ul + ul,
main ul + ol,
main ul + dl,
main ol + p,
main ol + ul,
main ol + ol,
main ol + dl,
main dl + p,
main dl + ul,
main dl + ol,
main dl + dl {
  margin-top: 1.5em;
}

main p + :not(p, ul, ol, dl),
main ul + :not(p, ul, ol, dl),
main ol + :not(p, ul, ol, dl),
main dl + :not(p, ul, ol, dl) {
  margin-top: 4em;
}

main a {
  color: var(--key-color);
  display: inline-block;
  padding-bottom: 0.1em;
  text-decoration: none;
  border-bottom: solid 2px var(--key-color);
}

main a:visited {
  color: #999;
  border-bottom-color: #999;
}

main li {
  margin-bottom: 0.5em;
}

.timeline {
  list-style-type: none;
  width: 50%;
  padding: 0;
  
  min-width: 250px;
  flex: 1;
  margin-top: 1em;
  position: relative;
}

.timeline:nth-of-type(odd) {
  padding-right: 3em;
  padding-top: 3em;
  border-right: solid var(--timeline-color) 2px;
}

.timeline:nth-of-type(even) {
  padding-top: 5em;
  padding-left: 3em;
  border-left: solid var(--timeline-color) 2px;
}

.timeline:nth-of-type(even):before,
.timeline:nth-of-type(even):after {
  content: "°";
  font-size: 4em;
  flex: 0;
  position: absolute;
  color: var(--timeline-color);
  line-height: 10px;
  margin-left: -0.24em;
  
  top: 0px;
  left: 0px;
}

.timeline:nth-of-type(even):after {
  top: auto;
  bottom: 0px;
  line-height:40px;
  background-color: white;
}

.timeline:nth-of-type(odd):before,
.timeline:nth-of-type(odd):after {
  content: "°";
  font-size: 4em;
  flex: 0;
  position: absolute;
  color: var(--timeline-color);
  line-height: 10px;
  margin-right: -0.24em;
  
  top: 0px;
  right: 0px;
}

.timeline:nth-of-type(odd):after {
  top: auto;
  bottom: 0px;
  line-height:40px;
  background-color: white;
}

.timeline li {
  border: solid #EEE 1px;
  border-top: solid var(--timeline-color) 4px;
  padding: 1em;
  font-size: 0.8em;
  margin-bottom: 6em;
}

.timeline li:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  left: 0px;
  margin-top: calc(-1em + -4px);
  height: 20px;
  border-top: solid var(--timeline-color) 4px;
}

.timeline span[lang] {
  display: block;
  overflow: hidden;
}

.timeline span[lang]:nth-of-type(odd) {
  padding-bottom: 1em;
}

.timeline span[lang]:nth-of-type(even) {
  border-top: dashed var(--timeline-color) 1px;
  padding-top: 1em;
  color: #CCC;
}

.timeline .location {
  float: right;
  font-weight: bold;
}

.timeline strong {
  position: absolute;
  margin-top: -3em;
  color: var(--key-color)
}

footer {
  position: relative;
  text-transform: lowercase;
  font-weight: bold;
  width: 100%;
  margin: 0;
  margin-bottom: 20vh;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  line-height: 10vw;
  
  background-color: var(--key-color);
  color: white;
  font-style: oblique;
  z-index: 10;
  
  transform: skewY(-3deg);
}
