* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: color 2s, background-image 2s;
}

a, a *, h1, h1 * {
  transition: none;
}

html {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(#E1F0F5, #F8F7D9);
  background-attachment: fixed;
  background-size: 100vw 100vh;
  background-repeat: repeat-x;
  background-position: top left;
  background-color: #F8F7D9;
}

main {
  padding: 3em;
  border: solid 1em #43C7DB;
  background-color: white;
  box-shadow: rgba(0, 0, 200, 0.05) 1em 1em 0px;
  max-width: 700px;

  background-image: url("../images/site/background.jpg");
  background-repeat: no-repeat;
  background-position: 0px 200px;
  background-size: 100%;
}

nav.top {
  font-size: 0.8em;
  transform: rotate(-2deg);
  margin-left: -6em;
  background: linear-gradient(90deg, #43C7DB, #C3B2E7);
  padding: 1em;
  box-shadow: rgba(0, 0, 200, 0.05) 0.5em 0.5em 0px;
  overflow: hidden;
}

nav:not(.top) {
  margin-bottom: 3em;
  border-bottom: solid #43C7DB 1px;
  margin-left: -3em;
  margin-right: -3em;
  padding-left: 3em;
  padding-top: 1em;
}

nav.top:after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 2em;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  margin-left: -1em;
  margin-top: 0.5em;
  transform: rotate(1deg);
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

nav ul li {
  flex-grow: 1;
  padding: 0px;
  display: block;
  margin: 0px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #43C7DB;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}

nav:not(.top) a:hover {
  border-bottom: solid #43C7DB 0.5em;
}

nav:not(.top) li.current a {
  background-color: #43C7DB;
  color: white;
  border-bottom: solid #43C7DB 0.5em;
}

nav.top a {
  color: #FFF790;
  text-decoration: none;
  padding: 0.2em;
  text-transform: none;
}

nav.top li a:hover {
  color: white;
  border-bottom: solid 3px white;
  text-shadow: white 0px 0px 2px;
}

h1, h2, h3, h4, h5, p {
  margin-bottom: 1em;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  text-shadow: lavender 5px 5px 0px;
  transform: rotate(-1deg);
  transition: transform 1s;
  margin-left: -2em;

  background-color: white;
  padding: 0.3em;
  box-shadow: rgba(0, 0, 200, 0.05) 0.2em 0.2em 0px;

  margin-bottom: 40vw;
}

html {
    font-size: 0.7em;
}

@media(min-width: 100px) {
  h1 {
    font-size: 2em;
    margin-bottom: 50vw;
  }

  main {
    margin: 5vw;
    background-position: 0px 100px;
  }
}

@media(min-width: 600px) {
  main {
    margin: 7vw;
    background-position: 0px 150px;
  }
}

@media(min-width: 700px) {
  h1 {
     font-size: 3em;
  }

  main {
    margin: 9vw;
    margin-top: 63px;
    background-position: 0px 170px;
  }
}

@media(min-width: 861px) {
  h1 {
    margin-bottom: 400px;
    font-size: 4em;
  }

  main {
    background-position: 0px 200px;
    margin-top: 73px !important;
  }
}

h1 span {
  color: #666;
  word-break: keep-all;
}

h2 {
  color: #60DDC5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: normal;
  border-bottom: dashed #60DDC5 1px;
  padding-bottom: 0.1em;
  clear: both;
}

p, ul {
  margin-bottom: 2em;
  line-height: 2;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
}

li {
  padding-left: 3em;
  padding-bottom: 1em;
}

li strong {
  display: inline-block;
  text-align: left;
  width: 3em;
  margin-left: -3em;
}

dt {
  text-transform: uppercase;
  color: #999;
  min-width: 50%;
  float: left;
  clear: left;
  padding-bottom: 1em;
}

dd {
  min-width: 50%;
  float: right;
  clear: right;
  padding-bottom: 1em;
}

dl {
  overflow: hidden;
}

img.wrap {
  float: right;
  clear: right;
  width: 50%;
}

image.wrap-alternate {
  float: left;
  clear: left;
  width: 50%;
}
